*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial,sans-serif;
}
body{
  background-color: #f0f2f5 ;
  
}
.container{
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
  margin-top: 130px;
  margin-bottom: 132px;
}
.left-section{
  margin-right: 60px;
}
.facebook-logo{
  color: #1877f2;
  font-size: 48px;
  margin-bottom: 20px;
}
h2{
  margin-bottom: 10px;
  font-size: 30px;
}
.left-section p {
  margin-bottom: 20px;
  color: #606770;
}
.accounts{
  display: flex;
  gap: 20px;
}
.account-card, .add-account{
  background-color: white;
  border-radius: 8px;
  text-align: center;
  width: 130px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1) ;
}
.account-card img{
  width: 101%;
  border-radius: 8px;
}
.account-card p, .add-account p {
  margin-top: 8px;
  font-weight: bold;
}
.add-account{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plus-icon{
  font-size: 48px;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 50%;
  background-color: blue;
}
.right-section{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  width: 360px;
}
.login-form input{
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 16px;
  border: solid #d9dde4 1px;
  border-radius: 6px;
}
.login-btn{
  color: white;
  background-color: rgb(94, 94, 226);
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 20px;
  border-radius: 6px;
}
.forgot{
  text-align: center;
  display: block;
  text-decoration: none;
  color: #1877f2;
  font-size: 15px;
  
}
hr {
  background-color: #dadde1;
  margin: 20px 0;
}
.create-account{
 background-color: rgb(11, 109, 11);
 color: white;
 padding: 12px;
 width: 100%;
 font-size: 18px;
 border-radius: 6px;
 border: none;
}
.create-page{
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}
